h3 {
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

h4 {
    text-align: center;
    font-size: 20px;
    color: darkcyan;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px darkblue;
}

h1 {
    font-size: 50px;
    text-align: center;
    animation: blinkingText 1.2s infinite;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#hero {
    float: center;
}

#hero_card {
    background-color: whitesmoke;
    display: inline-block;
    padding: 10px;
    margin-left: 200px;
    border-radius: 25px
}

#hero_details {
    background-color: whitesmoke;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 25px
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    20% {
        color: yellowgreen;
    }
    40% {
        color: #6bff66;
    }
    60% {
        color: #66dbff;
    }
    80% {
        color: royalblue;
    }
    100% {
        color: blueviolet;
    }
}

#tableCaption {
    font-size: 20px;
    margin-left: 60px
}

#hero_attacks {
    font-size: 15px;
}

#attackTableBody {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

table,
th,
td {
    border: 1px solid white;
    margin: auto
}

#startGameBtn {
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 2px black, 0 0 25px purple, 0 0 5px violet;
}

#startGameBtn:hover {
    font-size: 30px;
    background-color: purple;
    color: white
}

#heroDiv {
    background-color: whitesmoke;
    float: left;
    padding: 10px;
    margin-left: 300px;
    margin-bottom: 500px;
}

#enemyDiv {
    background-color: whitesmoke;
    float: right;
    padding: 10px;
    margin-right: 300px;
    margin-bottom: 300px;
}

.hidden {
    display: none;
}

#battleBottom {
    background-color: whitesmoke;
    float: bottom;
    padding: 5px;
    margin-top: 700px;
    margin-left: 300px;
    margin-right: 300px;
}

h2 {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px darkcyan, 0 0 25px blue, 0 0 5px darkblue;
}

#battleLogUl {
    color: darkcyan
}

.attackBtns {
    background-color: white;
    color: darkcyan;
    font-size: 15px;
    margin: auto;
    padding-bottom: 5px;
    width: 160px;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px white;
}

.attackBtns:hover {
    background-color: darkcyan;
    color: white;
    font-size: 15px;
    margin: auto;
    width: 160px;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}

#playerForm {
    text-align: center
}

#scoreOl {
    color: white;
    font-size: 25px;
    text-align: center;
    list-style-type: none;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#homeBtn {
    background-color: white;
    color: darkcyan;
    font-size: 30px;
    margin-left: 600px;
    padding-bottom: 5px;
}

#homeBtn:hover {
    background-color: darkcyan;
    color: white;
    font-size: 30px;
    margin-left: 600px;
    padding-bottom: 5px;
}